# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/
.venv/

# Logs
*.log
log_update.txt
update_log.txt

*.csv

# Project specific
dateReleased.txt
kev-*.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
